<div class="col-lg-10 col-md-21 col-sm-6 col-xs-12">
    <div class="white-box">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="product_lang1_title1">Tên khối <span class="required-field">*</span></label>
                    {{ form_widget(form.name) }}
                    <div class="amz-error">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
            </div>
        </div>
    </div>
</div>