<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="statistic-view">
            <div class="st-title">
                <div>
                    <h4>Quận 1 <br>
                        Thành phố Hồ Chí Minh</h4>
                </div>
                <div>
                    <h4>Cộng hòa xã hội chủ nghĩa Việt Nam <br>
                        <span>Độc lập - Tự do - Hạnh phúc</span></h4>
                </div>
            </div>

            <div class="st-heading">
                <h1>Báo cáo</h1>
                <p>Tình trạng dinh dưỡng toàn Quận - Tháng 1/2016</p>
            </div>

            <div class="st-table">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Tình trạng dinh dưỡng</th>
                        <th>Bình thường <br> N (%)</th>
                        <th>Thừa cân <br> N (%)</th>
                        <th>Béo phì <br> N (%)</th>
                        <th>SDD Thể gầy <br> N (%)</th>
                        <th>SDD Thể thấp còi <br> N (%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nam</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Nữ</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối mầm non</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 1</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 2</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 3</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 4</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 5</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 6</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 7</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 8</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 9</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 10</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 11</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr>
                        <td>Khối Lớp 12</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    <tr class="sum">
                        <td>Tổng</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                        <td>0 (0)</td>
                    </tr>
                    </tbody>
                </table>

                <p>(Học sinh được cân đo trong khoảng thời gian từ 1/1/2016 đến ngày 31/1/2016)</p>
                <p class="mt-5"><strong>Ghi chú:</strong></p>
                <div class="st-note">
                    <div>
                        <p>
                            N(%): Số lượng học sinh và tỉ lệ phần trăm<br>
                            Thừa cân: Khi BMI theo tuổi theo giới >+1SD<br>
                            Béo phì: Khi BMI theo tuổi theo giới >+2SD
                        </p>
                    </div>
                    <div>
                        <p>
                            SDD thể gầy: Khi BMI theo tuổi theo giới <-2SD<br>
                            SDD thể thấp còi: Khi chiều cao theo tuổi theo giới <-2SD
                        </p>
                    </div>
                </div>
            </div>

            <div class="st-signature">
                <div>
                    <h4>Người báo cáo</h4>
                    <em>(Ký và ghi rõ họ tên)</em>
                </div>
                <div>
                    <h4>Đại diện lãnh đạo</h4>
                    <em>(Ký và ghi rõ họ tên)</em>
                </div>
            </div>
        </div>
    </div>
</div>