{% set menu = menu %}
{% extends '::frontend.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <aside id="sidebar" class="col-md-3 col-sm-4 mb-3">
                <div class="heading p-4">
                    <h2>Sự kiện nổi bật</h2>
                    {#<h3>Lorem ipsum dolor sit amet</h3>#}
                    {#<ul class="list-unstyled">#}
                    {#<li><a href="#"><i class="fa fa-chevron-circle-right mr-1"></i>Typi non habent </a></li>#}
                    {#<li><a href="#"><i class="fa fa-chevron-circle-right mr-1"></i>Mirum est</a></li>#}
                    {#</ul>#}
                    <!-- /heading --></div>


                <!-- /sidebar --></aside>

            <section id="content" class="col-md-9 col-sm-8">

                <div class="cate-heading mb-3">
                    {#<img class="img-fluid" src="{{ post.thumbnail }}" alt="" width="100%">#}
                    <!-- /heading --></div>
                <h3 class="heading-3" style="padding-top:38px">{{ post.title|raw }}</h3>
                <div class="section-detail">
                    <h3 class="c-blue-a5"></h3>
                    {{ post.content | raw}}
                    <!-- /section-detail--></div>
                <!-- /content --></section>
        </div>
        <!-- /container --></div>
{% endblock %}