<section id="nuti-feature">
    <div class="container">
        <div class="row">
            <div class="row-1">
                <div class="col-sm-4 col-sm-offset-3">
                    <div class="feature-img"
                         style="background-image: url('{{ asset('frontend/images/round-1.png') }}')"></div>
                    <div class="feature-item">
                        <h3>Nhật ký sức khỏe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula ege.</p>
                    </div>
                </div>
            </div>
            <div class="row-2">
                <div class="col-sm-4 col-sm-offset-5">
                    <div class="feature-img"
                         style="background-image: url('{{ asset('frontend/images/round-2.png') }}')"></div>
                    <div class="feature-item">
                        <h3>Hình ảnh hoạt động</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula ege.</p>
                    </div>
                </div>
            </div>
            <div class="row-3">
                <div class="col-sm-4 col-sm-offset-3">
                    <div class="feature-img"
                         style="background-image: url('{{ asset('frontend/images/round-3.png') }}')"></div>
                    <div class="feature-item">
                        <h3>Tin tức</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula ege.</p>
                    </div>
                </div>
            </div>
            <div class="row-4">
                <div class="col-sm-4 col-sm-offset-5">
                    <div class="feature-img"
                         style="background-image: url('{{ asset('frontend/images/round-4.png') }}')"></div>
                    <div class="feature-item">
                        <h3>Hợp tác</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula ege.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>