{% extends '::frontend.html.twig' %}

{% block body %}
    <section id="nuti-404">
        <div class="container">
            <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="error-wrapper">
                    <div class="error-image">
                        <figure>
                            <img class="img-responsive" src="{{ asset('frontend/') }}images/404.png">
                        </figure>
                    </div>
                    <div class="error-message">
                        <h2>404</h2>
                        <p>Tài khoản của bạn chưa được gán vào trường</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}