<div class="profile-header">
    <div class="color-block"></div>
    <div class="container profile-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="profile-children">
                    <div class="children-img">
                        <figure>
                            <span class="take-a-photo"></span>
                            <div style="background-image: url('{{ asset('frontend/images/ava.jpg') }}')"></div>
                        </figure>
                    </div>
                    <div class="children-info">
                        <div>
                            <h4 class="children-name">{{ app.user.fullName }} <a href="#"><i class="icon edit-icon"></i></a></h4>
                            <p class="children-nickname">&nbsp;</p>
                            <p class="children-email">{{ app.user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="change-password">
                    <a href="#" data-toggle="modal" data-target="#changePw"><h5>Đổi mật khẩu</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>