<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
    <ul class="age-menu">
        <li {% if groupName is defined and groupName == constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_1_SLUG') %}class="current"{% endif %}>
            <a href="{{ path('application_profile_personal_list', {'groupName': constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_1_SLUG')}) }}">Từ 0-5 tuổi</a>
        </li>
        <li {% if groupName is defined and groupName == constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_2_SLUG') %}class="current"{% endif %}>
            <a href="{{ path('application_profile_personal_list', {'groupName': constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_2_SLUG')}) }}">Từ 5-19 tuổi</a>
        </li>
        <li {% if groupName is defined and groupName == constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_3_SLUG') %}class="current"{% endif %}>
            <a href="{{ path('application_profile_personal_list', {'groupName': constant('AMZ\\UserBundle\\Entity\\UserProfile::GROUP_3_SLUG')}) }}">Trên 19 tuổi</a>
        </li>
    </ul>
</div>